@use './_mixins' as _mix

//----------------------------
// 捲軸
//----------------------------
// 隱藏捲軸
.u-scrollbar-hidden
  +_mix.scrollbar-hidden

// 捲軸樣式
.u-scrollbar
  +_mix.scrollbar

//----------------------------
// 凹凸感
//----------------------------
$convex-light: #F5F6F5
$convex-dark: #C1C7D6
$convex-dark-light: #3d414d
$convex-dark-dark: #14161d

// 凸感
.u-convex
  position: relative
  width: 100%
  height: 100%
  box-shadow: -2px -2px 3px $convex-light, 2px 2px 4px $convex-dark
  &.u-convex-btn
    &:hover
      box-shadow: -1px -1px 2px $convex-light, 1px 1px 2px $convex-dark

// 凸感 (dark 模式)
.dark
  .u-convex
    box-shadow: -2px -2px 3px $convex-dark-light, 2px 2px 4px $convex-dark-dark
    &.u-convex-btn
      &:hover
        box-shadow: -1px -1px 2px $convex-dark-light, 1px 1px 2px $convex-dark-dark


$concave-light: #eaeff4
$concave-dark: #C1C7D6
$concave-dark-light: #3d414d
$concave-dark-dark: #14161d

// 凹感
.u-concave 
  position: relative
  width: 100%
  height: 100%
  box-shadow: inset -4px -4px 8px $concave-light, inset 4px 4px 8px $concave-dark

// 凹感 (dark 模式)
.dark
  .u-concave 
    box-shadow: inset -4px -4px 8px $concave-dark-light, inset 4px 4px 8px $concave-dark-dark

$chat-bg: #eaecef
$chat-dark-bg: #383c47

.u-chat
  @apply relative max-w-50% text-dark flex flex-(col) rounded-8 bg-lighter font-size-14 py-6 px-8 md:(font-size-16 py-8 px-10)

// 對話訊息 (dark 模式)
.dark
  .u-chat
    color: white
    background-color: $chat-dark-bg

.u-chat-start 
  @apply rounded-tl-0
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    transform: translateX(-100%)
    width: 0
    height: 0
    border-style: solid
    border-width: 0 6px 5px 0
    border-color: transparent $chat-bg transparent transparent

// 對話訊息 (dark 模式)
.dark
  .u-chat-start::before 
    border-color: transparent $chat-dark-bg transparent transparent

.u-chat-end 
  @apply rounded-tr-0
  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    transform: translateX(100%)
    width: 0
    height: 0
    border-style: solid
    border-width: 6px 5px 0 0
    border-color: $chat-bg transparent transparent transparent

// 對話訊息 (dark 模式)
.dark
  .u-chat-end::before 
    border-color: $chat-dark-bg transparent transparent transparent